{% extends "resume/base.html" %}
{% block content %}
<p>
    {% load crispy_forms_tags %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="guess">
        <input type="submit"
        onclick="window.location='{% url 'wordle_search:wordle_home' %}'; return false;" value="Cancel">
    </form>
</p>
<p>
    Some possible words:
</p>
<ul>
    {% for word in possible_words %}
    <li>{{word}}</li>
    {% endfor %}
</ul>
{% if previous_guesses %}
<ul>
    {% for guess in previous_guesses %}
    <li>{{word}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
